#gameheader{
    font-weight: bold;
    font-family: monospace;
    border: 2px solid turquoise;
    text-align: center;
    color: black;
    background-color: yellow;
}
#conheader{
    font-weight: bold;
    font-family: monospace;
    border: 2px solid;
    text-align: center;
}
#gameheader{
    font-weight: bold;
    font-family: monospace;
    border: 2px solid;
    text-align: center;
}
.ncl:hover{
    background-color: white;
    color: powderblue;
}
.ncl:active{
    background-color: grey;
}
#aboutpara{
    color: black;
    font-size: 2em;
    font-family: monospace;
}
