#gameheader{
    font-weight: bold;
    font-family: monospace;
    border: 2px solid turquoise;
    text-align: center;
    color: black;
    background-color: yellow;
}
#conheader{
    font-weight: bold;
    font-family: monospace;
    border: 2px solid;
    text-align: center;
}
#gameheader{
    font-weight: bold;
    font-family: monospace;
    border: 2px solid;
    text-align: center;
}
.ncl:hover{
    background-color: white;
    color: powderblue;
}
.ncl:active{
    background-color: grey;
}
#aboutpara{
    color: black;
    font-size: 2em;
    font-family: monospace;
}
#maillink{
    display: inline-block;
    padding: 15px 25px;
}
#playtank{
    font-family: monospace;
    color: black;
    font-size: 3em;
}
#playtank.hover{
    color: powderblue;
    background-color: grey;
}
#tankpara{
    font-family: monospace;
    font-size: 2em;
}
